<div class="secondary-page-navigation">
  <a class="previous" href="{{href}}">
    <div class="details_wrapper">
      <div class="left_arrow"></div>
      <div class="details">
        <div class="text">{{previousText}}</div>
        <div class="title">{{previousLink}}</div>
      </div>
    </div>
  </a>
  <a class="next no-previous" href="{{href}}">
    <div class="details_wrapper">
      <div class="right_arrow"></div>
      <div class="details">
        <div class="text">{{nextText}}</div>
        <div class="title">{{nextLink}}</div>
      </div>
    </div>
  </a>
</div>
